---
layout: default
---

<section>
	<div class="wrapper wrapper-content wrapper-content-sm wrapper-content-about">
		<h1>About</h1>
		{% for post in site.about | where:"lang",page.lang %}
		  {{post.content}}
		{% endfor %}
	</div>
</section>
<section class="section-black section-black-last">
	<div class="wrapper wrapper-content">
		<div class="centered-content">
			<h2 class="section-black-header">Get Involved</h2>
			<div class="section-black-description">
				<p class="description-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis.</p>
				<a class="button button-white" href="/{{page.lang}}/contact/">Contact us</a>
				<a class="button button-white button-secondary" href="https://github.com/orgs/iranopendata/">Find us on Github</a>
			</div>
		</div>
	</div>
</section>