---
layout: default
---

<section>
	<div class="wrapper">
		<div class="feature-internal">
			<h1>Contact</h1>
			<p class="description-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum massa eget odio elementum, ac ultricies dolor tincidunt.</p>
		</div>
		<form>
			<ul class="list-type-none">
				<li>
					<label for="name">
						Name
	        	<input type="text" id="name" name="" />
	        </label>
				</li>
				<li>
					<label for="email">
						Email
	        	<input type="text" id="email" name="" />
	        </label>
				</li>
				<li>
					<label for="subject">
						Subject
	        	<input type="text" id="subject" name="" /
	        </label>
				</li>
			</ul>
		</form>
		<div class="subsection subsection-bold content-centered">
			<h2 class="header-centered">Other Ways to Reach Out</h2>
			<a class="button button-xl" href="">emailaddress.com</a>
			<a class="button button-xl" href="">Github</a>
		</div>
	</div>
</section>