---
layout: default
---
{% assign lang = site.data[page.lang][0] %}
<section>
	<div class="wrapper wrapper-content-sm wrapper-content-xs">
		<div class="feature-internal">
			<h1>{{lang.contact}}</h1>
			<p class="description-lg">{{lang.contact-descript}}</p>
		</div>
		<form class="form-contact">
			<div class="form-contact-subsection">
				<div class="list-item-contact">
					<label class="label-form" for="name">{{lang.name}}</label>
					<input type="text" id="name" name="" />
				</div>
				<div class="list-item-contact">
					<label class="label-form" for="email">{{lang.email}}</label>
					<input type="text" id="email" name="" />
				</div>
				<div class="list-item-contact">
					<label class="label-form" for="subject">{{lang.subject}}</label>
					<input type="text" id="subject" name="" />
				</div>
			</div>
			<div class="list-item-contact form-contact-subsection">
				<label class="label-form" for="message">{{lang.message}}</label>
				<textarea></textarea>
			</div>
			<button class="button button-right button-contact">{{lang.button-submit}}</button>
		</form>
		<div class="subsection subsection-bold content-centered">
			<h2 class="header-centered">{{lang.other-ways}}</h2>
			<a class="button button-xl" href="">emailaddress.com</a>
			<a class="button button-xl button-secondary" href="https://github.com/orgs/iranopendata/">{{lang.github}}</a>
		</div>
	</div>
</section>