---
layout: default
---

<section>
	<div class="wrapper wrapper-content-sm wrapper-content-xs">
		<div class="feature-internal">
			<h1>Contact</h1>
			<p class="description-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum massa eget odio elementum, ac ultricies dolor tincidunt.</p>
		</div>
		<form class="form-contact">
			<div class="form-contact-subsection">
				<div class="list-item-contact">
					<label class="label-form" for="name">Name</label>
					<input type="text" id="name" name="" />
				</div>
				<div class="list-item-contact">
					<label class="label-form" for="email">Email</label>
					<input type="text" id="email" name="" />
				</div>
				<div class="list-item-contact">
					<label class="label-form" for="subject">Subject</label>
					<input type="text" id="subject" name="" />
				</div>
			</div>
			<div class="list-item-contact form-contact-subsection">
				<label class="label-form" for="message">Message</label>
				<textarea></textarea>
			</div>
			<button class="button button-right">Submit</button>
		</form>
		<div class="subsection subsection-bold content-centered">
			<h2 class="header-centered">Other Ways to Reach Out</h2>
			<a class="button button-xl" href="">emailaddress.com</a>
			<a class="button button-xl button-secondary" href="https://github.com/orgs/iranopendata/">Github</a>
		</div>
	</div>
</section>