---
layout: default
---

<section>
	<div class="wrapper wrapper-content">
		<div class="feature-internal">
			<h1>Available Data</h1>
			<p class="description-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit metus. Vestibulum at mauris vestibulum, interdum quam id, egestas metus. In viverra elit id auctor pharetra.</p>
		</div>
		<div class="content-internal">
			<a class="button button-filter" href="">Filter Datasets</a>
		<div class="content-internal" id="content-internal">
			<div class="sidebar">
				<h5>Filter Datasets</h5>
				<form>
					<div class="wrapper-filter-item">
						<fieldset>
							<label class="header-filter">Category</label>
							<ul class="list-type-none">
								<li class="list-item-filter list-item-filter-housing">
									<label>Category Name <span>(2)</span>
										<input class="checkbox" type="checkbox" name="" id="" value="" />
									</label>
								</li>
								<li class="list-item-filter list-item-filter-population">
									<label>Category Name <span>(2)</span>
										<input class="checkbox" type="checkbox" name="" id="" value="" />
									</label>
								</li>
								<li class="list-item-filter list-item-filter-women">
									<label>Category Name <span>(2)</span>
										<input class="checkbox" type="checkbox" name="" id="" value="" />
									</label>
								</li>
								<li class="list-item-filter list-item-filter-trade">
									<label>Category Name <span>(2)</span>
										<input class="checkbox" type="checkbox" name="" id="" value="" />
									</label>
								</li>
								<li class="list-item-filter list-item-filter-economy">
									<label>Category Name <span>(2)</span>
										<input class="checkbox" type="checkbox" name="" id="" value="" />
									</label>
								</li>
							</ul>
						</fieldset>
					</div>
					<div class="wrapper-filter-item">
						<fieldset>
							<label class="header-filter">Format</label>
							<ul class="list-type-none">
								<li class="list-item-filter">
									<label>CSV <span>(2)</span>
										<input class="checkbox" type="checkbox" name="" id="" value="" />
									</label>
								</li>
								<li class="list-item-filter">
									<label>XML <span>(2)</span>
										<input class="checkbox" type="checkbox" name="" id="" value="" />
									</label>
								</li>
								<li class="list-item-filter">
									<label>JSON <span>(2)</span>
										<input class="checkbox" type="checkbox" name="" id="" value="" />
									</label>
								</li>
							</ul>
						</fieldset>
					</div>
					<div class="wrapper-filter-item">
						<fieldset>
							<label class="header-filter">Date Range</label>
							<ul class="list-type-none">
								<li class="list-item-datarange"><span class="dropdown-sm dropdown-sm-date">1999</span></li>
								<li class="list-item-datarange"><span>to</span></li>
								<li class="list-item-datarange"><span class="dropdown-sm dropdown-sm-date">2016</span></li>
							</ul>
						</fieldset>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<section class="section-black section-black-last">
	<div class="wrapper wrapper-content">
		<div class="centered-content">
			<h2 class="section-black-header">Don't see what you're looking for?</h2>
			<div class="section-black-description">
				<p class="description-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis.</p>
				<a class="button button-white" href="">Suggest a Dataset</a>
			</div>
		</div>
	</div>
</section>
