---
layout: default
---

<section>
	<div class="wrapper wrapper-content">
		<div class="feature-internal">
			<h1>Available Data</h1>
			<p class="description-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit metus. Vestibulum at mauris vestibulum, interdum quam id, egestas metus. In viverra elit id auctor pharetra.</p>
		</div>
		<div class="content-internal">
			<div class="sidebar">
				<h5>Filter Datasets</h5>
				<form>
					<div class="wrapper-filter-item">
						<fieldset>
							<label class="header-filter">Category</label>
							<ul class="list-type-none">
								<li class="list-item-filter list-item-filter-housing">
									<input type="checkbox" name="" id="" value="" />
									<label class="list-item-filter-housing">Category Name <span>(2)</span></label>
								</li>
								<li class="list-item-filter list-item-filter-population">
									<input type="checkbox" name="" id="" value="" />
									<label>Category Name <span>(2)</span></label>
								</li>
								<li class="list-item-filter list-item-filter-women">
									<input type="checkbox" name="" id="" value="" />
									<label>Category Name <span>(2)</span></label>
								</li>
								<li class="list-item-filter list-item-filter-trade">
									<input type="checkbox" name="" id="" value="" />
									<label>Category Name <span>(2)</span></label>
								</li>
								<li class="list-item-filter list-item-filter-economy">
									<input type="checkbox" name="" id="" value="" />
									<label>Category Name <span>(2)</span></label>
								</li>
							</ul>
						</fieldset>
					</div>
					<div class="wrapper-filter-item">
						<fieldset>
							<label class="header-filter">Format</label>
							<ul class="list-type-none">
								<li class="list-item-filter">
									<input type="checkbox" name="" id="" value="" />
									<label>CSV <span>(2)</span></label>
								</li>
								<li class="list-item-filter">
									<input type="checkbox" name="" id="" value="" />
									<label>XML <span>(2)</span></label>
								</li>
								<li class="list-item-filter">
									<input type="checkbox" name="" id="" value="" />
									<label>JSON <span>(2)</span></label>
								</li>
							</ul>
						</fieldset>
					</div>
					<div class="wrapper-filter-item">
						<fieldset>
							<label class="header-filter">Language</label>
							<ul class="list-type-none">
								<li class="list-item-filter">
									<input type="checkbox" name="" id="" value="" />
									<label>English <span>(2)</span></label>
								</li>
								<li class="list-item-filter">
									<input type="checkbox" name="" id="" value="" />
									<label>Farsi <span>(2)</span></label>
								</li>
							</ul>
						</fieldset>
					</div>
					<div class="wrapper-filter-item">
						<fieldset>
							<label class="header-filter">Date Range</label>
							<ul class="list-type-none">
								<li class="list-item-datarange"><span class="dropdown-sm dropdown-sm-date">1999</span></li>
								<li class="list-item-datarange"><span>to</span></li>
								<li class="list-item-datarange"><span class="dropdown-sm dropdown-sm-date">2016</span></li>
							</ul>
						</fieldset>
					</div>
				</form>
			</div>
			<div class="content-sidebar">
				<h6 class="content-sidebar-header">Showing 15 Datasets</h6>
				<div class="sort-filter">
					<span class="sort-filter-header">Sort by</span>
					<div class="dropdown-sm">Recent Updates</div>
				</div>
				<ul class="list-type-none">
					<li class="population list-item-vertical">
						<span class="type-category">Population</span>
						<h5 class="header-with-description"><a class="text-link" href="">Name of Dataset</a></h5>
						<dl class="metadata">
							<dt>Source:</dt>
							<dd>Name of Source</dd>
						</dl>
						<dl class="metadata metadata-date">
							<dt>Updated:</dt>
							<dd>Jul. 28, 2016</dd>
						</dl>
						<p class="width-shortened">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis. Sed sagittis tempor sapien ac sagittis.</p>
						<ul class="list-type-none">
							<li class="element-file-type">CSV</li>
							<li class="element-file-type">XML</li>
						</ul>
					</li>
					<li class="trade list-item-vertical">
						<span class="type-category">Trade</span>
						<h5 class="header-with-description"><a class="text-link" href="">Name of Dataset</a></h5>
						<dl class="metadata">
							<dt>Source:</dt>
							<dd>Name of Source</dd>
						</dl>
						<dl class="metadata metadata-date">
							<dt>Updated:</dt>
							<dd>Jul. 28, 2016</dd>
						</dl>
						<p class="width-shortened">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis. Sed sagittis tempor sapien ac sagittis.</p>
						<ul class="list-type-none">
							<li class="element-file-type">CSV</li>
							<li class="element-file-type">XML</li>
						</ul>
					</li>
					<li class="housing list-item-vertical">
						<span class="type-category">Housing</span>
						<h5 class="header-with-description"><a class="text-link" href="">Name of Dataset</a></h5>
						<dl class="metadata">
							<dt>Source:</dt>
							<dd>Name of Source</dd>
						</dl>
						<dl class="metadata metadata-date">
							<dt>Updated:</dt>
							<dd>Jul. 28, 2016</dd>
						</dl>
						<p class="width-shortened">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis. Sed sagittis tempor sapien ac sagittis.</p>
						<ul class="list-type-none">
							<li class="element-file-type">CSV</li>
							<li class="element-file-type">XML</li>
						</ul>
					</li>
					<li class="women list-item-vertical">
						<span class="type-category">Women</span>
						<h5 class="header-with-description"><a href="">Name of Dataset</a></h5>
						<dl class="metadata">
							<dt>Source:</dt>
							<dd>Name of Source</dd>
						</dl>
						<dl class="metadata metadata-date">
							<dt>Updated:</dt>
							<dd>Jul. 28, 2016</dd>
						</dl>
						<p class="width-shortened">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis. Sed sagittis tempor sapien ac sagittis.</p>
						<ul class="list-type-none">
							<li class="element-file-type">CSV</li>
							<li class="element-file-type">XML</li>
						</ul>
					</li>
					<li class="housing list-item-vertical">
						<span class="type-category">Housing</span>
						<h5 class="header-with-description"><a class="text-link" href="">Name of Dataset</a></h5>
						<dl class="metadata">
							<dt>Source:</dt>
							<dd>Name of Source</dd>
						</dl>
						<dl class="metadata metadata-date">
							<dt>Updated:</dt>
							<dd>Jul. 28, 2016</dd>
						</dl>
						<p class="width-shortened">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis. Sed sagittis tempor sapien ac sagittis.</p>
						<ul class="list-type-none">
							<li class="element-file-type">CSV</li>
							<li class="element-file-type">XML</li>
						</ul>
					</li>
				</ul>
				<div class="pagination">
					<ul>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section-black section-black-last">
	<div class="wrapper wrapper-content">
		<div class="centered-content">
			<h2 class="section-black-header">Don't see what you're looking for?</h2>
			<div class="section-black-description">
				<p class="description-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis.</p>
				<a class="button button-white" href="">Suggest a Dataset</a>
			</div>
		</div>
	</div>
</section>