---
layout: default
---

<section>
	<div class="wrapper wrapper-content wrapper-content-sm content-block">
		<h1>Developers</h1>
		{% for post in site.developers | where:"lang",page.lang %}
		  {{post.content}}
		{% endfor %}
		<a class="button" href="">View the API</a>
		<a class="button button-secondary" href="https://github.com/orgs/iranopendata/">Find us on Github</a>
	</div>
</section>
<section class="section-black section-black-last">
	<div class="wrapper wrapper-content">
		<div class="centered-content">
			<h2 class="section-black-header">How to Contribute</h2>
			<div class="section-black-description">
				<p class="description-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum massa eget odio elementum, ac ultricies dolor tincidunt. Nulla eu leo a tortor aliquet eleifend. Aliquam eu magna vitae nisl porttitor consectetur vel ut quam.</p>
				<a class="button button-white" href="">View Github Issues</a>
				<a class="button button-white button-secondary" href="/{{page.lang}}/contact/">Submit Your Work</a>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="wrapper wrapper-content wrapper-content-sm content-block">
		<h2>Methodology</h2>
		{% for post in site.methodology | where: "lang",page.lang %}
			{{post.content}}
		{% endfor %}
		<a class="button" href="">Learn More</a>
	</div>
</section>