---
layout: default
---

<section class="wrapper-feature feature">
	<div class="wrapper">
			<div class="section-feature_main">
				<h1 class="header-feature">Making Iranian Data Available to the Public</h1>
				<p class="description-lg">Find clean, reliable data from housing to transportation. With our growing database, check back for updates or sign up for our newsletter, to see when new sets are added.</p>
				<a class="button button-lg" href="">View All Datsets</a>
			</div>
			<div class="section-feature_secondary">
				<ul class="list-type-none">
					<li>
						<span class="type-category">Population</span>
						<h5 class="header-with-description"><a href="">Name of Dataset</a></h5>
						<dl class="metadata">
							<dt class="metadata-title">Source:</dt>
							<dd class="metadata-description">Name of Source</dd>
						</dl>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis. Sed sagittis tempor sapien ac sagittis.</p>
					</li>
					<li>
						<span class="type-category">Trade</span>
						<h5 class="header-with-description"><a href="">Name of Dataset</a></h5>
						<dl class="metadata">
							<dt class="metadata-title">Source:</dt>
							<dd>Name of Source</dd>
						</dl>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis. Sed sagittis tempor sapien ac sagittis.</p>
					</li>
				</ul>
			</div>
	</div>
</section>
<section class="section-black">
	<div class="wrapper">
		<h2 class="section-black-header">Our Methodology</h2>
		<div class="section-black-description">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fermentum massa eget odio elementum, ac ultricies dolor tincidunt. Nulla eu leo a tortor aliquet eleifend. Aliquam eu magna vitae nisl porttitor consectetur vel ut quam. Phasellus magna augue, rutrum vitae vulputate eget, mattis eget ante.</p>
			<a class="button button-white" href="">Learn More</a>
			<a class="button button-white" href="">Contribute</a>
		</div>
	</section>
	<section  class="wrapper">
		<h2>Use Cases</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis.</p>
		<img>
		<div>
			<span>Featured</span>
			<h3>Name of Dataset</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis. Sed sagittis tempor sapien ac sagittis.</p>
			<a href="">View Site</a>
		</div>
		<a class="button" href="">View All Use Cases</a>
	</div>
</section>