---
layout: default
---
{% assign lang = site.data[page.lang][0] %}
<section class="wrapper-feature feature">
	<div class="wrapper wrapper-content">
			<div class="section-feature_main">
				<h1 class="header-feature">{{lang.homepage-title}}</h1>
				<p class="description-lg">{{lang.homepage-descript}}</p>
				<a class="button button-lg" href="/{{page.lang}}/data/">{{lang.homepage-button}}</a>
			</div>
			<div class="section-feature_secondary">
				<ul class="list-type-none">
					<li>
						<span class="type-category">Population</span>
						<h5 class="header-with-description"><a class="text-link" href="">Name of Dataset</a></h5>
						<dl class="metadata">
							<dt class="metadata-title">Source:</dt>
							<dd class="metadata-description">Name of Source</dd>
						</dl>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis. Sed sagittis tempor sapien ac sagittis.</p>
					</li>
					<li>
						<span class="type-category">Trade</span>
						<h5 class="header-with-description"><a class="text-link" href="">Name of Dataset</a></h5>
						<dl class="metadata">
							<dt class="metadata-title">Source:</dt>
							<dd>Name of Source</dd>
						</dl>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis. Sed sagittis tempor sapien ac sagittis.</p>
					</li>
				</ul>
			</div>
	</div>
</section>
{% include methodology-home.html %}
	<section  class="wrapper wrapper-content">
		<h2>{{lang.use_cases}}</h2>
		<p class="description-md width-shortened">{{lang.homepage-usecases-descript}}</p>
		<div class="feature-overlay">
			{% for usecase in site.usecases %}
				{% if usecase.featured == true %}
				<img class="img-feature" src="/assets/graphics/{{usecase.img}}">
				<div class="overlay-description">
					<span class="type-category">{{lang.featured}}</span>
					<h5><a target="_blank"  class="text-link" href="{{lang.homepage-usecase-link}}">{{usecase.title}}</a></h5>
					<p class="width-shortened">{{usecase.description}}</p>
					<a target="_blank" href="{{usecase.link}}" class="normal-link" href="">{{lang.homepage-usecase-link}}</a>
				</div>
				{% endif %}
			{% endfor %}
		</div>
		<a class="button" href="/{{page.lang}}/usecases/">{{lang.homepage-usecases-button}}</a>
	</div>
</section>
<script>
 const lang = {
     'button-share': '{{lang.button-share}}',
     'button-download': '{{lang.button-download}}',
     'dataset-secondary-title': '{{lang.dataset-secondary-title}}',
     'dataset-id': '{{lang.dataset-id}}',
     'dataset-dates': '{{lang.dataset-dates}}',
     'dataset-formats': '{{lang.dataset-formats}}',
     'dataset-source': '{{lang.dataset-source}}'
 }
</script>
