---
layout: default
---

<section>
	<div class="wrapper wrapper-content">
		<div class="feature-internal">
			<h1>Resources</h1>
			<p class="description-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit metus. Vestibulum at mauris vestibulum, interdum quam id, egestas metus. In viverra elit id auctor pharetra.</p>
			<a class="button" href="https://github.com/orgs/iranopendata/">View the API</a>
			<a class="button button-secondary" href="">Find us on Github</a>
		</div>
		<div class="sidebar sidebar-fixed">
			<h5>Jump to</h5>
			<ul class="list-type-none">
				<li class="list-item-filter link-filter">
					<a href="">Category 1 <span>(2)</span></a>
				</li>
				<li class="list-item-filter link-filter">
					<a href="">Category 2 <span>(2)</span></a>
				</li>
				<li class="list-item-filter link-filter">
					<a href="">Category 3 <span>(2)</span></a>
				</li>
			</ul>
		</div>
		<div class="content-sidebar">
			{% for resource in site.resources | sort: 'category' %}
			<div class="faux-list-item">
				<h4 class="header-divider">{{resource.category}}</h4>
				<ul class="list-type-none">
					{% for resource in site.resources %}
					<li class="list-item-block">
						<h5 class="header-with-description"><a class="text-link" target="_blank" href="{{resource.link}}">{{resource.title}}</a></h5>
						<dl class="metadata">
							<dt>Source:</dt>
							<dd>{{resource.source}}</dd>
						</dl>
						<p>{{resource.description}}</p>
					</li>
					{% endfor %}
				</ul>

			</div>
			{% endfor %}
		</div>
	</div>
</section>