---
layout: default
---

<section>
	<div class="wrapper">
		<div class="feature-internal">
			<h1>Use Cases</h1>
			<img src="">
			<div>
				<span class="type-category">Featured</span>
				<h4>Name of Dataset</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis. Sed sagittis tempor sapien ac sagittis.</p>
				<a href="">View Site</a>
			</div>
		</div>
		<ul>
			<li>
				<img src="">
				<h4>Name of Dataset</h4>
				<dl>
					<dt>Source:</dt>
					<dd>Name of Source</dd>
				</dl>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis. Sed sagittis tempor sapien ac sagittis.</p>
			</li>
			<li>
				<img src="">
				<h4>Name of Dataset</h4>
				<dl>
					<dt>Source:</dt>
					<dd>Name of Source</dd>
				</dl>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis. Sed sagittis tempor sapien ac sagittis.</p>
			</li>
			<li>
				<img src="">
				<h4>Name of Dataset</h4>
				<dl>
					<dt>Source:</dt>
					<dd>Name of Source</dd>
				</dl>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut augue aliquet ligula aliquam faucibus a ac mauris. Sed sagittis tempor sapien ac sagittis. Sed sagittis tempor sapien ac sagittis.</p>
			</li>
		</ul>
	</div>
</section>
<section class="section-black">
	<div class="wrapper">
		<h2>Show Us Your Work</h2>
		<p>Have a project that you’ve build off of an Open Iran Data dataset? Send us your information so that we can feature it on the site.</p>
		<a class="button button-white" href="">Send Your Project</a>
	</div>
</section>
