/*Type*/
h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
}

h1 {
	font-size: 4.2em;
	font-weight: 900;
	line-height: .95em;
}

h2 {
	font-size: 2.85em;
	font-weight: 900;
	line-height: 1em;
}

h3 {
	font-size: 2.35em;
	font-weight: 700;
}

h4 {
	font-size: 1.85em;
	font-weight: 700;
}

h5 {
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1.2em;
}

h6 {
	font-size: 1.15em;
	font-weight: 700;
}

.header-with-description {
	margin-bottom: .2em;
}

.logo {
	font-size: 1.5em;
	float: left;
}

.metadata {
	font-size: .8em;
	display: inline-block;
	color: $grey;
	* {
		display: inline-block;
	}
}

.description-md {
	font-size: 1.1em;
	line-height: 1.8em;
}

.description-lg {
	font-size: 1.15em;
	line-height: 1.7em;
	color: $black;
}

.metadata-title {
	font-weight: bold;
}

.nav-languages {
	float: right;
	.active {
		font-weight: 700;
	}
	li {
		&:first-of-type {
			border-right: 1px solid $light-grey;
			padding-right: 2em;
		}
	}
}

.type-category {
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 700;
}

.type-category-lg {
	font-size: 1.35em;
	display: block;
	margin-bottom: .3em;
}

.header-feature {
	font-size: 5em;
	font-weight: 900;
	line-height: 1.2em;
}

.header-divider {
	border-bottom: 3px solid $black;
	padding-bottom: .5em;
  margin-bottom: 1.3em;
}

.header-centered {
	text-align: center;
}

.metadata-date {
	font-style: italic;
}

header {
	margin: 2.2em 0;
}


/*links & buttons*/
.nav-link, .nav-link:visited, {
	color: $text-color;
}

.normal-link, .normal-link:visited {
	color: $link-color;
	font-family: $header-font;
	font-weight: 700;
}

.button, .button:visited,  {
	color: $link-color;
	border: 3px solid $link-color;
	padding: .6em 3em;
	font-weight: 700;
	font-size: 1.2em;
	margin-top: 1em;
	display: inline-block;
	font-family: $header-font;
}

.button-lg {
	border: 4px solid $link-color;
	font-weight: 900;
}

.button-sm {
	background: #fff;
	border: 1px solid $link-color;
	font-size: 1em;
}

.button-white, .button-white:visited, {
	border: 3px solid #fff;
	color: #fff;
}

.button-xl, .button-xl:visited, { 
	padding: 3em;
	min-width: 11em;
	text-align: center;
}

.button-secondary {
	margin-left: 1.1em;
}

.text-link {
	border-bottom: 1px solid $lightest-grey;
}


/*Sections*/
section {
	margin: 6em 0 10em;
}

.section-black {
	background-color: $dark-grey;
	color: #fff;
	padding-top: 10em;
	padding-bottom: 10em;
	p {
		color: #fff;
	}
}

.section-black-last {
	margin-bottom: 0;
}

.section-black-description {
	float: left;
	border-left: 3px solid #fff;
	padding-left: 4%;
	margin-left: 6%;
	width: 60%;
	p {
		color: $lightest-grey;
	}
}

.section-black-header {
	width: 28%;
	float: left;
}

.feature-internal {
	max-width: 450px;
	margin-bottom: 5em;
}

.subsection {
	border-top: 1px solid $lightest-grey;
	padding-top: 7em;
	margin-top: 7em;
}

.subsection-bold {
	border-top: 3px solid $black;
}


/*Lists*/
nav { 
	float: left; 
	.nav-list_item:hover, .nav-list_item:active {
		border-bottom: 2px solid $link-color;
    padding-bottom: .3em;
	}
}

.list-type-none {
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 0;
}

.nav-list_item {
	display: inline-block;
	margin: .28em 1em 0;
	&:first-of-type {
		margin-left: 3em;
	}
}

.list-item-vertical {
	padding-top: 1em;
	margin: 2em 0 4.3em;
}

.list-item-block {
	width: 42%;
	float: left;
	margin-right: 4.5em;
	margin-bottom: 2.5em;
}

.list-item-block-sm {
	width: 29%;
	&:nth-child(3) {
		margin-right: 0;
	}
}

.faux-list-item {
	margin-bottom: 3em;
	@extend %clearfix;

	.list-item-block {
		&:nth-child(even) {
			margin-right: 0;
		}
	}
}

.img-feature { 
	width: 100%;
	border: 1px solid $light-grey;
}

.image-usecase {
	border-bottom: 3px solid $black;
	margin: 3em 0 1.1em;
}


/*Forms*/
input { 
	background-color: #fff;
	border: 1px solid	$light-grey;
	color: $grey;
	padding: .6em 1em;
	font-size: 1em;
}

.header-filter {
	display: block;
	font-family: $header-font;
	font-weight: 700;
	font-size: 1.2em;
	margin-bottom: .5em;
}

.wrapper-filter-item {
	margin-bottom: 2.5em;
}


/*footer*/
footer {
	background-color: $light-light-grey;
	border-top: 1px solid $light-grey;
	padding-top: 2em;
	padding-bottom: 3em;
	p {
		margin-bottom: 0;
	}
}


/*Homepage*/
.section-feature_main {
	float: left;
	width: 55%;
}

.section-feature_secondary {
	width: 30%;
	float: left;
	border-left: 4px solid $black;
	padding-left: 4%;
	margin-left: 7%;
	li {
		margin-bottom: 4em;
	}
}



.sidebar {
	float: left;
	width: 23%;
}

.content-sidebar {
	width: 70%;
	float: left;
}

.element-file-type {
	border-radius: 4px;
	padding: 0em 1em;
	background-color: $lightest-grey;
	display: inline-block;
	font-weight: 700;
	font-size: .65em
}

.housing { border-top: 2px solid $housing; }
.women { border-top: 2px solid $women; }
.trade { border-top: 2px solid $trade; }
.population { border-top: 2px solid $population; }





.content-centered {
	margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.wrapper-content {
	max-width: 900px;
}

.wrapper-content-sm {
	max-width: 750px;
}

.wrapper-half {
	width: 50%;
	float: left;
}

.wrapper-half-right {
	float: right;
}

.float-right {
	float: right;
}

.feature-overlay {
	position: relative;
	margin-bottom: 3em;
	margin-top: 2.5em;
}

.overlay-description {
	padding: 1.5em 3em 2em;
	border: 1px solid $light-grey;
	border-top: 3px solid $black;
	position: absolute;
	bottom: 6px;
	width: 92%;
	background-color: rgba(255, 255, 255, 0.8);
}

.width-shortened {
	max-width: 550px;
}

.block-partners {
	float: right;
	width: 20%;
}

.centered-content {
	margin: 0 auto;
	width: 85%;
	@extend %clearfix;
}