/*Sections*/
section {
	margin: 6em 0 10em;
}

.section-black {
	background-color: $dark-grey;
	color: #fff;
	padding-top: 10em;
	padding-bottom: 10em;
	p {
		color: #fff;
	}
	a, a:visited {
		color: #fff;
	}
	@media screen and (min-width: 320px) {
		padding-top: 8em;
		padding-bottom: 8em;
	}
}

.section-black-last {
	margin-bottom: 0;
}

.section-black-description {
	float: left;
	p {
		color: $lightest-grey;
	}
	@media screen and (min-width: 320px) {
		border-left: none;
		padding-left: 0;
		margin-left: 0;
		width: 100%;
	}
	@media screen and (min-width: 766px) {
		border-left: 3px solid #fff;
		padding-left: 4%;
		margin-left: 6%;
		width: 60%;
	}
}

.section-black-header {
	line-height: 1.2em;
	@media screen and (min-width: 320px) {
		float: initial;
		width: 100%;
	}
	@media screen and (min-width: 766px) {
		width: 29%;
		float: left;
	}
}

.feature-internal {
	max-width: 450px;
	margin-bottom: 5em;
}

.subsection {
	border-top: 1px solid $lightest-grey;
	padding-top: 7em;
	margin-top: 7em;
}

.subsection-bold {
	border-top: 3px solid $black;
}


/*Lists*/
nav { 
	float: left; 
	@media screen and (max-width: 920px) {
		float: initial;
	}
	.nav-list_item:hover, .nav-list_item:active, .active {
		border-bottom: 2px solid $link-color;
    	padding-bottom: .3em;
	}
	@media screen and (max-width: 920px) {
		.active {
			border-bottom: 0;
		}
	}
	.open {
		display: inherit;
	}
}

.menu-hamburger, .menu-hamburger:visited {
	display: none;
	color: #fff;
	margin-top: .8em;
	@media screen and (max-width: 920px) { 
		display: initial;
	}
	float: right;
	&:before {
		content: "";
		background-image: url("/assets/graphics/collecticons/hamburger-menu.svg");
		display: block;
		width: 20px;
		height: 20px;
		background-size: 20px 20px;
		background-repeat: no-repeat;
	}
}

.icon-close, .icon-close:visited {
	color: #fff;
	display: none;
	&:before {
		content: "";
		background-image: url("/assets/graphics/collecticons/xmark.svg");
		background-size: 15px 15px;
		width: 15px;
		height: 15px;
		display: block;
		float: right;
	}
	@media screen and (max-width: 766px) {
		display: initial;
	}
}

.list-type-none {
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 0;
}

.nav-list_item {
	display: inline-block;
	margin: 2.1em 1em 0;
	@media screen and (max-width: 920px) {
		margin: 0;
		padding: 1.6em 1em 1.6em;
	}
	&:first-of-type {
		margin-left: 3em;
		@media screen and (max-width: 920px) {
			margin-left: 0;
		}
	}
}

.nav-mobile { 
	@media screen and (max-width: 920px) {
		display: none;
		position: absolute;
		right: 0em;
		background-color: #fff;
		border: 1px solid $light-grey;
		z-index: 4;
		min-width: 250px;
		top: 4em;
		padding: .2em 0 3em;
	}
	.nav-list_item {
		@media screen and (max-width: 920px) {
			display: block;
			padding: 1.5em 2em .6em;
			&:hover {
				border-bottom: 0;
				padding: 1.5em 2em .6em;
			}
			a:hover {
				color: $link-color;
			}
		}
	}
}

.nav-container {
	position: relative;
	.open {
		@media screen and (max-width: 920px) {
			display: inherit;
		}
	}
}

.nav-languages {
	float: right;
	@media screen and (max-width: 920px) { 
		float: initial;
		margin-top: 1em;
		padding-top: 1em;
		border-top: 1px solid $light-grey;
	}
	.active {
		font-weight: 700;
	}
	li {
		&:first-of-type {
			border-right: 1px solid $light-grey;
			padding-right: 2em;
			@media screen and (max-width: 920px) { 
				border-right: initial;
				padding-right: 0;
			}
		}
	}
}

.list-item-vertical {
	padding-top: 1em;
	margin: 1em 0 5.3em;
	position: relative;

	.metadata-date {
		position: absolute;
		top: 1.3em;
		right: 0;
	}
}

.list-item-block {
	float: left;
	margin-bottom: 2.5em;
	@media screen and (min-width: 320px) {
		width: 100%;
		margin-right: 0;
	}
	@media screen and (min-width: 440px) {
		margin-right: 4.5em;
		width: 42%;
	}
}

.section-black {
	.list-item-block {
		margin-bottom: 0;
		margin-right: 2.5em;
		&:nth-child(2) {
			margin-right: 0;
		}
	}
}

.list-item-block-sm {
	@media screen and (min-width: 320px) {
		width: 100%;
	}
	@media screen and (min-width: 440px) {
		width: 40%;
	}
	@media screen and (min-width: 766px) {
		width: 29%;
	}
}

.faux-list-item {
	margin-bottom: 3em;
	@extend %clearfix;
	display: inline-block;

	.list-item-block {
		&:nth-child(even) {
			margin-right: 0;
		}
	}
}

.list-item-filter {
	margin-bottom: .5em;
}

.filter-number {
	display: inline-block;
	color: $grey;
}

.list-item-contact { 
	margin-bottom: 2em;
}

.form-contact-subsection {
	float: left;
	&:first-of-type {
		margin-right: 3.5em;
	}
}

/*Img*/
img {
	width: 100%;
}

.img-feature { 
	border: 1px solid $light-grey;
	width: 99.8%;
}

.image-usecase {
	border-bottom: 3px solid $black;
	margin: 3em 0 1.1em;
}


.sidebar {
	float: left;
	width: 28%;
	padding-top: .5em;
}

.header-filter-resources {
	@media screen and (max-width: 766px) {
		float: left;
		margin-right: 1em;
		margin-top: .2em;
	}
}

.sidebar-resources {
	@media screen and (max-width: 766px) {
		width: 100%;
		margin-bottom: 1.5em;
	}
}

.dropdown-resources-options {
	@media screen and (max-width: 766px) {
		display: none;
		position: absolute;
		border: 1px solid $light-grey;
		top: 3em;
		left: 0;
		background-color: #fff;
		li { 
			padding: .8em 1em;
			margin-bottom: 0;
			font-size: .85em;
			min-width: 100px;
		}
	}	
}

.content-sidebar {
	float: left;
	display: block;
	@media screen and (min-width: 320px) {
		width: 100%;
	}
	@media screen and (min-width: 766px) {
		width: 65%;
	}
}

.element-file-type {
	border-radius: 4px;
	padding: 0em 1em;
	background-color: $lightest-grey;
	display: inline-block;
	font-weight: 700;
	font-size: .65em
}

.element-file-type-lg {
	width: auto;
	margin-right: 1em;
	margin-top: .5em;
	line-height: 2.8em;
}

.content-centered {
	margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.wrapper-content {
	max-width: 900px;
}

.wrapper-content-sm {
	max-width: 750px;
}

.wrapper-content-xs {
	max-width: 680px;
}

.wrapper-half {
	width: 50%;
	float: left;
}

.wrapper-half-right {
	float: right;
}

.float-right {
	float: right;
}

.feature-overlay {
	position: relative;
	margin-bottom: 3em;
	margin-top: 2.5em;
	@media screen and (max-width: 600px) {
	height: 330px;
    width: 100%;
    position: relative;
	}
}

.overlay-description {
	padding: 1.5em 3% 3%;
	border: 1px solid $light-grey;
	border-top: 3px solid $black;
	position: absolute;
	bottom: 1.4%;
	width: 93.8%;
	background-color: rgba(255, 255, 255, 0.8);
}

.width-shortened {
	max-width: 75%;
	@media screen and (max-width: 600px) {
		max-width: 100%;
	}
}

.content-block {
	p {
		max-width: 90%;
		font-size: 1.1em;
		line-height: 1.9em;
		color: $dark-grey;
	}
}

.centered-content {
	margin: 0 auto;
	width: 85%;
	@extend %clearfix;
}

.content-width-6 {
	float: left;
	@media screen and (min-width: 320px) {
		width: 100%;
	}
	@media screen and (min-width: 766px) {
		width: 60%;
	}
}

.wrapper-half-right {
	@media screen and (max-width: 520px) {
		float: initial;
	}
}

.list-flex-wrapper{
    display: flex;
    flex-wrap: wrap;
}
