{% assign lang = site.data[page.lang][0] %}

<section class="section-black section-black-last">
	<div class="wrapper wrapper-content">
		<div class="centered-content">
			<h2 class="section-black-header">{{lang.contribute-title}}</h2>
			<div class="section-black-description">
				<p class="description-md">{{lang.contribute-descript}}</p>
				<a class="button button-white" href="http://github.com/iranopendata/iranopendata.github.io/issues">{{lang.contribute-button}}</a>
				<a class="button button-white button-secondary" href="/{{page.lang}}/contact/">{{lang.show-button}}</a>
			</div>
		</div>
	</div>
</section>
