<footer>
	<div class="wrapper">
		<div class="wrapper-half wrapper-half-left">
			<h5 class="header-with-description">{{lang.sign_up-title}}</h5>
			<p>{{lang.newsletter-descript}}</p>
			<input type="" name="" placeholder="Enter Your Email">
			<button class="button button-sm button-secondary">{{lang.button-submit}}</button>
		</div>
		<div class="wrapper-half wrapper-half-right">
			<nav class="float-right">
				<ul class="list-type-none">
					<li class="nav-list_item"><a class="nav-link" href="/{{page.lang}}/data/">{{lang.data}}</a></li>
					<li class="nav-list_item"><a class="nav-link" href="/{{page.lang}}/usecases/">{{lang.use_cases}}</a></li>
					<li class="nav-list_item"><a class="nav-link" href="/{{page.lang}}/resources/">{{lang.resources}}</a></li>
					<li class="nav-list_item"><a class="nav-link" href="/{{page.lang}}/developers/">{{lang.developers}}</a></li>
					<li class="nav-list_item"><a class="nav-link" href="/{{page.lang}}/about/">{{lang.about}}</a></li>
					<li class="nav-list_item"><a class="nav-link" href="/{{page.lang}}/contact/">{{lang.contact}}</a></li>
				</ul>
			</nav>
			<a class="button button-sm float-right button-standalone" href="https://github.com/orgs/iranopendata">{{lang.button-github}}</a>
		</div>
	</div>
</footer>

<!-- build:js /assets/scripts/vendor.js -->
<script src="/assets/scripts/vendor.js"></script>
<!-- endbuild -->
<!-- build:js /assets/scripts/bundle.js -->
<script src="/assets/scripts/bundle.js"></script>
<!-- endbuild -->
