	{% assign lang = site.data[page.lang][0] %}
	<header id="site-header" class="wrapper">
		<h1 class="logo">
			<a href="/{{page.lang}}/"><img src="/assets/graphics/IOD-logo.png" alt="Iran Open Data" /></a>
		</h1>
		<div class="nav-container">
			<a class="menu-hamburger" href="">Menu</a>
			<div class="nav-mobile">
				<nav>
					<ul class="nav-list list-type-none">
            {% if page.id == 'data' %}<li class="nav-list_item active data">{% else %}<li class="nav-list_item data">{% endif %}
              <a class="nav-link" href="/{{page.lang}}/datasets/">{{lang.data}}</a></li>
            {% if page.id == 'usecases' %}<li class="nav-list_item active usecases">{% else %}<li class="nav-list_item usecases">{% endif %}
						  <a class="nav-link" href="/{{page.lang}}/usecases/">{{lang.use_cases}}</a></li>
            {% if page.id == 'resources' %}<li class="nav-list_item active resources">{% else %}<li class="nav-list_item resources">{% endif %}
						  <a class="nav-link" href="/{{page.lang}}/resources/">{{lang.resources}}</a></li>
            {% if page.id == 'developers' %}<li class="nav-list_item active developers">{% else %}<li class="nav-list_item developers">{% endif %}
						  <a class="nav-link" href="/{{page.lang}}/developers/">{{lang.developers}}</a></li>
            {% if page.id == 'about' %}<li class="nav-list_item active about">{% else %}<li class="nav-list_item about">{% endif %}
              <a class="nav-link" href="/{{page.lang}}/about/">{{lang.about}}</a></li>
            {% if page.id == 'contact' %}<li class="nav-list_item active contact">{% else %}<li class="nav-list_item contact">{% endif %}
						  <a class="nav-link" href="/{{page.lang}}/contact/">{{lang.contact}}</a></li>
					</ul>
				</nav>
				<ul class="nav-languages nav-list list-type-none">
					<li class="nav-list_item"><a id="nav-link-english" href="/en{{page.url| remove_first:'/fa' | remove_first:'/en'}}" class="nav-link active">{{lang.english}}</a></li>
					<li class="nav-list_item"><a id="nav-link-farsi" href="/fa{{page.url | remove_first:'/fa' | remove_first:'/en'}}" class="nav-link">فارسی</a></li>
				</ul>
			</div>
		</div>
	</header>
